.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

bower_components/*
node_modules/*

user_guide_src/*

/vendor/

# GIT Files
#-------------------------

.git/*

